@import "./var";

// Flex-box related styles

.flex {
  display: flex;
}

.flex-md-and-up {
  display: none;

  @media screen and (min-width: $__md) {
    display: flex;
  }
}

.flex-wrap {
  flex-wrap: wrap;

  .flex-md {
    flex-wrap: wrap;
    @media screen and (min-width: $__md) {
      flex-wrap: nowrap;
    }

  }
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.direction-column {
  flex-direction: column;
}


// Width, height

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}


// Display

.d- {
  &block {
    display: block;
  }

  &none {
    display: none;
  }
}


// Margin

.m {
  &t-auto {
    margin-top: auto;
  }

  &l-auto {
    margin-left: auto;
  }

  &r-auto {
    margin-right: auto;
  }
}

.mt-1 {
  margin-top: 1rem;
}


// Padding

.p-1 {
  padding: 1rem;
}

// Text

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// Cursor

.pointer {
  cursor: pointer;
}

// Menu

.nav-arrow-right {
  &::before {
    content: '\203A';
    margin-right: 10px;
    font-size: 1.5rem;
    float: right;
    color: $--icon-color-base;
  }
}

// Shadow

.dark-text {
  text-shadow: 0 0 0;
}
