$duration: .3s;

// Fade

.fade-enter-active, .fade-leave-active {
  transition: opacity $duration;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Slide

.slide-enter-active, .slide-leave-active {
  transition: transform $duration;
}

.slide-enter, .slide-leave-to {
  transform: translateX(-100%);
}

// Jump

.jump-enter-active, .jump-leave-active {
  transition: opacity .2s, transform .2s;
}

.jump-enter, .jump-leave-to {
  opacity: 0;
  transform: scale(.9);
}
