@import "../../../../styles/var";

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width: $--md) {
  .inputs {
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.sl {
  display: block !important;
}

.group-label {
  color: $--color-primary;
}

.no-academic {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 20px 0;
  text-align: center;
}